
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chau+Philomene+One&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

body{
	background: #222f3e;
	font-family: 'Oxygen', sans-serif;
	user-select: none;
	max-height:80vh; 
	box-sizing: border-box;
}

header{

	height: 18vh;
	background: inherit;
	color: #54f542;
	word-spacing: 2px;
	font-family: 'Chau Philomene One', sans-serif;
	text-transform: uppercase;
}
header > h1{
	padding-top: 28px;
	text-align:center;
}
.score_board{
	/*border: 1px solid green;*/
	height: 20vh;
	background: #2c3e50;
	color: yellow;
	text-align: center;
	font-size: 2rem;
	position: relative;
}
.result{
	text-align: center;
	font-size: 2rem;
	font-weight: bold;
	color: green;
}
.user_score{
			

	position: absolute;
	left:40px; 
		padding-top: 49px;
}
.computer_score{
		
	position: absolute;
	right:40px; 
	
		padding-top: 49px;
}

.images{

	/*border: 2px solid #000;*/
	height: 29vh;
	display: flex;
	
	align-items: center;
	justify-content: center;
}
 .choice{
	
	margin: 0 15px;
	border: 5px solid #fff;
	padding: 15px;

	border-radius: 50%;
	display: inline-block;
	transition: all 0.6s ease;
	
 }
 .choice:hover{


	cursor: pointer;

 }
p{
	text-align: center;
	font-size: 2rem;
	color: #fff;
}
.p2{

	/*padding-bottom: 35px;*/
}

	.f{
		height: 10vh;
		background-color: #594d40;
		text-align: center;
		
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 1.3rem;
	}
	.f >a{
		color: white !important;
		/*text-decoration: none;	*/
	}

.green_light{

	border: 5px solid #3cc012;
	box-shadow: 0 0 8px #3cc012;
	background: #169016;

}.red_light{

	border: 5px solid #c23616;
	box-shadow: 0 0 8px #e84118;
	background: #c23616;

}.gray_light{

	border: 5px solid #a9a9a9;
	box-shadow: 0 0 8px #a9a9a9;
	background: #a9a9a9;

}

@media only screen and (max-width:600px) {
		

		header{
			height: 10vh;
		}
	header h1{
		font-size: 25px;
		padding-bottom:0; 
		
	}
	.score_board{

		font-size: 1.5rem;
		color: yellow;
		height: 22vh;
		display: grid;
	}

	.images{
		display: grid;
		height: 80px;
		margin: 5px;
		}
		.result{
			padding-bottom: 5px;
		}
		.choice{
		
					
		margin: 5px;

		cursor: pointer;

		}

		.p2{
			padding-top:350px; 
		}
		



}
@media only screen and (max-width:425px) {
	


	header>h1{
		font-size: 22px;
	}
	.score_board{
		
		padding: 0
		/*height: 100px;*/
		position: relative;	
	}
	.user_score{
		top:0px;
		left: 80px;
	}.computer_score{
		top:40px;
		left: 0px;
	}
		.result >p{

			font-size: 1.9rem;
		}
		.p2{
			padding-top:390px; 
		}
	

	
}

@media only screen and (max-width:376px) {
	
	header>h1{
		font-size: 22px;
	}
}


